<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-generic-dp/cells-generic-dp.html">
<!--
`<comp-movimiento-dm>` description.

Example:

```html
<comp-movimiento-dm></comp-movimiento-dm>
```

@demo demo/index.html
-->
<dom-module id="comp-movimiento-dm">
  <template>

    <cells-generic-dp
      id="cellsCrudGetDP"
      host=[[_host]]
      path=[[_path]]
      body=[[_body]]
      method="GET"
      on-request-success="_onGetResponse"
      on-request-error="_onGetError">
    </cells-generic-dp>
    <cells-generic-dp
      id="cellsCrudPostDP"
      host=[[_host]]
      path=[[_path]]
      body=[[_body]]
      method="POST"
      on-request-success="_onPostResponse"
      on-request-error="_onPostError">
    </cells-generic-dp>

    <cells-generic-dp
    id="cellsGetCuentaDP"
    host=[[_host]]
    path=[[_path]]
    body=[[_body]]
    method="GET"
    on-request-success="_onGetCuentaResponse"
    on-request-error="_onGetError">
  </cells-generic-dp>

  </template>
  <script src="comp-movimiento-dm.js"></script>
</dom-module>
